AsideBarView QLabel#asideTitle {
	color: #6A6868;
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
}

AsideBarView FadeEffectButton[status="default"] > QLabel {
	color: black;
}

AsideBarView FadeEffectButton[status="current"] > QLabel {
	color: white;
}
