/* Ö÷´°Ìå */

HugouView#hugou {
    background-color: #F0F4FD;
}

QWidget#asideBarAndStackedWidget {
    background-color: transparent;
}

QStackedWidget#stackedWidget {
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}