/* …Ë÷√“≥ */
QWidget#settingsLeftWidget {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border-top: 2px solid #cccccc;
    border-right: 2px solid #cccccc
}

QWidget#settingsRightWidget {
    margin: 0px;
    padding: 0px;
    border-top: 2px solid #cccccc;
    background-color: transparent;
    border-bottom-right-radius: 12px
}