/* ¹¤×÷¿Õ¼ä */

QLabel#workSpaceLabel {
    margin-left: 10px;
    margin-top: 10px;
}

OperationZone#operationZone {
    margin: 2px;
    padding: 2px;
    border: 2px dashed #cccccc;
    border-radius: 15px;
    background-color: white;
}

QWidget#recentlyAddedZone {
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    background-color: white;
}

QLabel#recentlyAddedLabel {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}