/* Ö÷´°Ìå */

QWidget#HugouClass {
    background-color: #3763BE;
}

QWidget#asideBarAndStackedWidget {
    background-color: #3763BE;
}

QStackedWidget#stackedWidget {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
}